{% extends "books_outlet/base.html" %}
{% load static %}


{% block page_title %} {{ object.title|title }} {% endblock %}
{% block page_style %} 
<link rel="stylesheet" href="{% static "books_outlet/book_details.css" %}">
{% endblock %}


{% block content %}

    <header>
        <h1> {{ object.title|title }} </h1>
        <h3><a href="{% url "home" %}">Home Page</a></h3>
    </header>

    <div class='container'>


        <div class='sub-container'>
            <h2>About Book</h2>
            <p> {{ object.brief|title }} </p>
            <hr> 

            <h2>Authors</h2>
            <ul style='list-style-type: decimal;'>
            {% for each in object.author.all %}
                
                <li> {{ each|title }} </li>

            {% endfor %}
            </ul>
            <hr>



            <h3> Book rating: {{ object.rating }} </h3>
            <hr>

            {% if object.is_bestseller %}
                <h3> Best Seller: ✅ </h3>

            {% else %}
                <h3> Best Seller: 🟥 </h3>

            {% endif %}
            <hr>



            <h3> Published at </h3>
            <ul>
                {% for ct in object.published_countries.all %}
                    <li> {{ ct|title }} </li>
                {% endfor %}
            </ul>


            <hr>
            {% if not is_fav %}

            <h3>Add to Favorite</h3>
            <form action="{% url "fav-book" %}" method="post" >
                {% csrf_token %}
                <input type="hidden" name="review_id" value="{{ object.pk }}">
                <button type="submit" >Favorit</button>

                
            </form>


            {% else %}
            <h3>That is your favorite book</h3>

            {% endif %}

            
        
        </div> 


        

    </div>






{% comment %} <h3> {{ book.author }} </h3>

<p> {{ book.brief }} </p> {% endcomment %}


{% endblock %}